---
import AppLayout from '../../../layouts/AppLayout.astro';
import AdminSidebar from '../../../components/AdminSidebar.astro';
import CrmAdminConfig from '../../../modules/admin/components/CrmAdminConfig';
---

<AppLayout title="Configurações do CRM">
    <AdminSidebar slot="sidebar" activeItem="crm" />

    <div class="px-4 py-6 sm:px-0">
        <CrmAdminConfig client:only="react" />
    </div>
</AppLayout>
